<div class="main">

<!-- ADMIN CATEGORY FILTER -->
<div *ngIf="user.role=='admin'">

<select
[(ngModel)]="selectedCategory"
(change)="filterCategory()">

<option *ngFor="let c of categories">
{{c}}
</option>

</select>

</div>

<!-- CATEGORY WISE COMPLAINTS -->

<div *ngFor="let cat of grouped | keyvalue">

<h3 style="margin-bottom:10px">

{{cat.key}}

<span
style="
background:#e0e7ff;
color:#3730a3;
padding:3px 10px;
border-radius:15px;
font-size:12px;
margin-left:8px;
">

{{cat.value.length}}

</span>

</h3>

<!-- EACH COMPLAINT CARD -->

<div
*ngFor="let g of cat.value"
class="card">
<img
*ngIf="g.image"
[src]="'http://localhost:5000/uploads/'+g.image"
style="width:150px;margin-top:10px;border-radius:10px;">

<h4 style="margin-bottom:5px">
{{g.title}}
</h4>

<p style="color:#64748b">
{{g.description}}
</p>

<p style="margin-top:10px;font-size:13px">
<b>Raised By:</b> {{g.userName}}
</p>

<p style="font-size:13px">
<b>ID:</b> {{g.userId}}
</p>

<br>

<!-- STATUS BADGE -->

<span
class="badge"
[ngClass]="{
'pending':g.status=='Pending',
'progress':g.status=='In Progress',
'resolved':g.status=='Resolved',
'rejected':g.status=='Rejected'
}">

{{g.status}}

</span>

<div class="timeline">

<div
class="timeline-item"
*ngFor="let u of (g.updates || []).slice().reverse()">

<p>
{{u.note}}
</p>

<span class="timeline-date">
{{u.date}}
</span>

</div>
</div>

<br><br>

<!-- ADMIN UPDATE BUTTONS -->

<div *ngIf="user.role=='admin'">

<button
class="primary"
(click)="update(g._id,'In Progress')">
In Progress
</button>

<button
class="primary"
(click)="update(g._id,'Resolved')">
Resolve
</button>

<button
class="primary"
(click)="update(g._id,'Rejected')">
Reject
</button>

</div>
</div>
</div>
</div>